*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li,a{
    text-decoration: none;
}

.btn-label-info{
    background: rgba(72, 171, 247, .1);
    color: #48abf7 !important;
    border-color: transparent;
}
.btn-label-info:hover{
    background-color: #48abf7;
    color: white !important;
}

.btn {
    padding: .65rem 1.4rem;
    font-size: 1rem;
    font-weight: 500;
    opacity: 1;
    border-radius: 3px;
}
.btn-round{
    border-radius: 100px;
}
.icon{
    width: 65px;
    height: 65px;
    padding-left: 0;
    padding-right: 0;
   font-size: 2.2em;
    background-color: #1572e8;
    border-radius: 10px;
}
.btn-label-success{
    background: rgba(49, 206, 54, .1);
    color: #31ce36 !important;
    border: none;
}
.btn-label-success:hover{
    background-color: #31ce36;
    color: white !important;
}
.cirl{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: red;
}
.cirl1{
    background-color: orange;
}
.cirl2{
    background-color: blue;
}
.btn2{
    color: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.2);
    font-size: 11px;
    padding: 7px 13px;
}
.name{
    font-size: 14px;
}
.status{
    font-size: 12px;
}
.btn-icon{
    width: 2rem;
    height: 2rem;
    background: #31ce36 !important;
}
.table>tbody>tr>th {
    padding: 16px 24px !important;
}
.table>tbody>tr>.data {
    padding: 16px 24px !important;
}
.avatar-title {
    width: 100%;
    height: 100%;
    background-color: #6861ce;
    color: #fff;
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: center;
}

.Sidebar{
    width: 250px;
}